/* Signin */
.signin-form {
	max-width: 470px;
	margin: 15px auto 60px;

	@media (min-width: $minmqsm) {
		margin-top: 33px;
		margin-bottom: 80px;;
	}
}

.form-more {
	margin-bottom: 39px;

	.help-link {
		display: inline-block;
		float: right;
		margin-top: 4px;
	}

	.checkbox {
		margin:0;
	}
}